<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Currency - {% block title %}{% endblock title %}</title>
<body>
{% block nav %}
<ul id="nav">
    <li style='display: inline;'>{% block nav-rates%}<a href='/rate-list/'>Rates</a>{% endblock %}</li>
    <li style='display: inline;'>{% block nav-sources %}<a href='/source-list/'>Sources</a>{% endblock %}</li>
    <li style='display: inline;'>{% block nav-contact %}<a href='/contact-us/'>Contact Us</a>{% endblock %}</li>
</ul>
{% endblock %}

{% block content %}

{% endblock content %}


</body>
</html>